# Database
# Para desenvolvimento local (SQLite)
DATABASE_URL="file:./dev.db"
# Para produção (PostgreSQL)
# DATABASE_URL="postgresql://username:password@host:port/database"

# Next.js
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
